.calculadora{
    align-items: center;
    margin-left: 400px;
    padding: 10px;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: aliceblue;
}
